<div>
  <%= form_tag search_path, method: :get do %>
    <%= text_field_tag :query %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<% if current_user.admin? %>
  <h4><%= link_to "Create new Category", :categories %></h4>
<% end %>

<h4><%= link_to "Categories", :categories %></h4>
<h4><%= link_to "View my products", current_user %></h4>
<h4><%= link_to "Add new item for sale", [:new, :product] %></h4>
