<hr>
<h3><%= product.name %></h3>
<p><%= product.description %></p>
<p>Category: <%= product.category.name %>
Condition: <%= product.condition %>
Item Created: <%= time_ago_in_words(product.created_at) %> ago</p>
