<hr>
<h3><%= product.name %></h3>
<p>
  Description:<%= product.description %><br>
  Category: <%= product.category.name %><br>
  Condition: <%= product.condition %><br>
  Price: <%= number_to_currency(product.price) %><br>
  Auction starts at: <%= product.auction_starts_at %><br>
  Auction ends at: <%= product.auction_ends_at %><br>
  Item Created: <%= time_ago_in_words(product.created_at) %> ago<br>
</p>
