<%= render @product %>

<h3>Place a bid on <%= @product.name %></h3>

<%= render "error_messages", target: @bid %>

<%= form_for [@product, @bid] do |form| %>
  <%= form.label "Enter your bid in USD " %>
  <%= form.number_field :amount, step: 1.0 %>
  <%= form.submit :submit %>
<% end %>
