<!DOCTYPE html>
<html>
<head>
  <title>Fleemarket</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", content: STRIPE_PUBLIC_KEY %>
</head>
<body>

<h1><%= link_to "Fleemarket", root_path %></h1>

<% if signed_in? %>
  <p>You are currently signed in as <%= current_user.email %>. <%= link_to "Sign out?", session_path, method: :delete %></p>
<% end %>

<%= yield %>

</body>
</html>
